[submodule "protobufs"]
	path = protobufs
	url = https://github.com/mehow/meshtastic-protobufs
	branch = servo
[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
